.custom-btn {
  background-color: #3fa8d2;
  padding: 1em 1em;
  color: white;
  font-size: 1.2rem;
  text-transform: capitalize;
  width: 60%;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
